# Pandas basic

In [3]:
import pandas as pd

url ="https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"

df = pd.read_csv(url)

print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [17]:
df.columns

#read each column
# df['Name'][4: 10]
# print(df.Name)
# df[['Name', 'Type 1', 'Legendary']]

#Read each row
# print(df.iloc[1])
print(df.iloc[3:5])

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
3      120     80           1      False
4       50     65           1      False

In [25]:
#Reading a specific location (r,c)
print(df.iloc[6,1])

Charizard

In [44]:
#iterating through each row
# for index,row in df.iterrows():
#     print(index,row['Name'])

# df.loc[df['Legendary']=="True"]
# df.loc[df['Type 1']=="Psychic"]

In [45]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [48]:
df.sort_values('Legendary')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
512,461,Weavile,Dark,Ice,70,120,65,45,85,125,4,False
513,462,Magnezone,Electric,Steel,70,70,115,130,90,60,4,False
514,463,Lickilicky,Normal,NaN,110,85,95,80,95,50,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
431,386,DeoxysSpeed Forme,Psychic,NaN,50,95,90,95,90,180,3,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
425,384,Rayquaza,Dragon,Flying,105,150,90,150,90,95,3,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [50]:
df.sort_values(['Type 1' , 'Attack'], ascending=[1,0]) 
# this will print type 1 in ascending order(alphabetical ) and attack in descending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
650,589,Escavalier,Bug,Steel,70,135,105,60,105,20,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
405,370,Luvdisc,Water,NaN,43,30,55,40,65,97,3,False
198,183,Marill,Water,Fairy,70,20,50,20,50,40,2,False
508,458,Mantyke,Water,Flying,45,20,50,60,120,50,4,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False

# Making changes to the data

In [59]:
df['Total'] = df['HP'] + df['Attack']+df['Defense']+df['Speed']
df.head(5)

#drop the column
df =df.drop(columns=['Total'])
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [30]:
df['Total'] = df.iloc[:,4:10].sum(axis=1)
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [70]:
df['Total'] = df.iloc[:,4:10].sum(axis=1)
cols = list(df.columns)
# Reordering the columns
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]
#First 4 column -> last column -> rest of the columns
print(df.head(3))

   #       Name Type 1  Type 2  Legendary  Total  HP  Attack  Defense  \
0  1  Bulbasaur  Grass  Poison      False    591  45      49       49
1  2    Ivysaur  Grass  Poison      False    750  60      62       63
2  3   Venusaur  Grass  Poison      False    970  80      82       83

   Sp. Atk  Sp. Def  Speed  Generation
0       65       65     45           1
1       80       80     60           1
2      100      100     80           1

In [16]:
new_df = df.loc[(df['Type 1']=='Psychic') & df.Legendary == True]
# new_df.to_csv('Filtered data')

In [25]:
#Filtering out mega pokemons
# df.loc[df.Name.str.contains('Mega')]
import re

# df.loc[df['Name'].str.contains('Mega')]
df.loc[df['Type 1'].str.contains('Fire|Grass',regex=True)]

# names with pi at the start
# df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

# Conditional Change

In [36]:
#will change all the fire type to flame type

# df.loc[df['Type 1']== 'Fire', 'Type 1' ]='flame'

# df.loc[df['Total']> 500 , ['Generation','Legendary']] = ['test1','test2']
df= pd.read_csv(url)
# df

In [42]:
#Aggregate functions
# df.groupby(['Type 1']).mean(numeric_only=True)
# df.groupby(['Type 1']).mean(numeric_only=True).sort_values('Attack',ascending=False)
df.groupby(['Type 1']).count()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112